<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Date: 30.01.2023
 *
 * @author M. Usman usman.786cs@gmail.com
 * @package Ego_ImportUrlRewrite
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_seo">
                            <resource id="Magento_UrlRewrite::urlrewrite">
                                <resource id="Ego_ImportUrlRewrite::ego_url_rewrite" title="Import URL Rewrite" sortOrder="10"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
        </resources>
    </acl>
</config>
