<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Date: 30.01.2023
 *
 * @author M. Usman usman.786cs@gmail.com
 * @package Ego_ImportUrlRewrite
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ego_ImportUrlRewrite">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_UrlRewrite"/>
        </sequence>
    </module>
</config>
