<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Date: 30.01.2023
 *
 * @author M. Usman usman.786cs@gmail.com
 * @package Ego_ImportUrlRewrite
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="egourlrewrite" frontName="egourlrewrite">
            <module name="Ego_ImportUrlRewrite"/>
        </route>
    </router>
</config>
